html, body {
  padding: 0;
  margin: 0;
  /* display: flex;

  justify-content: center;

  align-items: center; */
}

canvas {
  display: block;
}

 .centered {
  text-align: center;
  align-items: center;
} 
